.menu{
    align-items: center;
    background-color: rgb(224, 221, 221);
    padding-left: 100px;

}
.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: rgb(6, 29, 232);
    border-right: 1px solid black;
    
}
.menu ul li a:hover{
    background-color: chocolate;
    color: aliceblue;
}
.menu ul li:last-child a {
    border-right: none;
}
.container{
    display: flex;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: rgb(206, 24, 58);
    text-align: center;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(27, 72, 237);
    text-align: center;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(205, 22, 205);
    text-align: center;
}